---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Copyright">
  <div class="flex gap-2 mb-2">
    <a class="text-blue-800 dark:text-blue-300 hover:underline" href="/">Home</a
    >
    <p>•</p>
    <p>Legal</p>
    <p>•</p>
    <p class="font-bold">Copyright</p>
  </div>

  <div class="space-y-2">
    <p>
      This website may use content that is copyrighted by third parties but is
      used as part of criticism and review and therefore subject to the fair use
      exeception under 17 U.S.C. § 107. I, valbuildr, make no claims to any
      third pary content used on this website and no infringement is intended.
    </p>

    <p>
      It is believed that the use of low-resolution images of album covers
      solely to illustrate the audio recording in question qualifies as fair use
      under the copyright law of the United States. For a list of all album
      covers and the rationale as to using them, <a
        href="/legal/cover-rationale"
        class="hover:underline">click here</a
      >.
    </p>

    <p>
      If your work has been used on this website and you wish for it to be
      removed, please feel free to get in touch with me via email at <span
        class="bg-zinc-200 dark:bg-zinc-700 p-1 rounded font-mono"
        title="This has been modified to prevent spam bots from accessing this email."
        >hi (at) valbuilds (dot) xyz</span
      >.
    </p>

    <p>
      This website is hosted by Github, if you wish to explore the website's
      code and assets, you can do so by <a
        href="https://github.com/valbuildr/album-reviews"
        target="_blank"
        class="hover:underline">clicking here</a
      >.
    </p>
  </div>
</MainLayout>
