---
import MainLayout from "../../layouts/MainLayout.astro";
import CR from "../../components/CR.astro";
---

<MainLayout title="Copyright">
  <div class="flex gap-2 mb-2">
    <a class="text-blue-800 dark:text-blue-300 hover:underline" href="/">Home</a
    >
    <p>•</p>
    <p>Legal</p>
    <p>•</p>
    <p class="font-bold">Cover Art Rationale</p>
  </div>

  <div class="space-y-2">
    <CR
      src="/assets/albums/laufey/amot/cover.png"
      data={{
        width: 300,
        height: 300,
        author: "Laufey",
        purpose: "to serve as the primary means of visual identification at the top of the page dedicated to *A Matter of Time*.",
        notReplaceableBecause: "Any derivative work based upon the cover art would be a copyright violation, so creation of a free image is not possible.",
        minimalUse: "Top of the page for *A Matter of Time*.",
        respectForCommercial: "The use of a low resolution image of a work's cover will not impact the commercial viability of the work.",
        added: "October 24th, 2025",
      }}
    />

    <!-- <CR
      src="/assets/albums/bbno$/bbno$/cover.png"
      data={{
        width: 300,
        height: 300,
        author: "bbno$",
        purpose: "to serve as the primary means of visual identification at the top of the page dedicated to *bbno$.",
        notReplaceableBecause: "Any derivative work based upon the cover art would be a copyright violation, so creation of a free image is not possible.",
        minimalUse: "Top of the page for *bbno$*.",
        respectForCommercial: "The use of a low resolution image of a work's cover will not impact the commercial viability of the work.",
        added: "October 25th, 2025",
      }}
    /> -->
  </div>
</MainLayout>
